.about-page {
     max-width: 900px;
     margin: auto;
     font-family: Arial, sans-serif;
     line-height: 1.6;
     padding: 20px;
}   

.red-text{
    color: red;
    font-weight: bold;
}

.team-heading {
  margin-top: 40px;
  text-align: center;
  font-size: 28px;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

.team-table th,
.team-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.team-table th {
  background-color: #000;
  color: #fff;
}

.team-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.team-table tr:hover {
  background-color: #f5f5f5;
}